
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body{
    max-width: 1920px;
    font-family: 'PT Sans', sans-serif;
    background: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
}
@media screen and (max-width=767px) {
    body{
        max-width: 767px;
        overflow-x: hidden;
    }
}